.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px auto;
  width: 100%;
  height: 100%;
  &__img{
    background: url(../img/endgame.png);
    background-size: cover;
    width: 200px;
    height: 200px;
  }
}
